body{
    box-sizing: border-box;
    background-color: #EEE;
    padding: 5rem;
    display: flex;
    flex-wrap: wrap;
}
header,main, aside,footer{
    background-color: #FFF;
    border-radius: 0.4rem;
    color: #000;
    padding: 2rem;
}
header{
    flex-basis: 100%;
}
footer{
    flex-basis: 100%;
}
main{
    flex: 8 1 40rem;
}
main{
    flex: 2 1 20rem;
}