body{
    background-color: rgb(238, 238, 238);
    padding: 10px 150px;
    font-size: 24px;
    font-weight: bold; 
}
h2{
    font-size: 24px;
}
.page{
    margin: 20px 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}
header{
    flex: 5 1 100%;
    font-family: Georgia, serif;
    text-transform: uppercase;
    border-bottom: 2px solid black;
}

.aside{
    margin-right: 90px;
}
a{
    color: rgb(0, 153, 0);
}
img{
    width: 150px;   
    max-height: 200px; 
    border: 2px solid black;
    padding: 10px;
    margin: 1px 20px;
    background-color: rgb(255, 255, 255);
    object-fit: cover;
}
.image1{
    width: 100px;
    float: right;
}
p{
    font-size: 18px;
}
section{
    overflow: hidden;
}
.image2{
    float: left;
    margin-left: 0px;
    max-height: 90px;
}
blockquote{
    font-family: Georgia, serif;
    line-height: 1.5;
    font-style: italic;
    float: right;
    width: 40%;
    border-left: 3px solid lightgrey;
    padding-left: 10px;
    font-size: 18px;
    font-weight: normal;
}
blockquote>p{
    margin-top: 20px;
    float: right;
    font-weight: normal;
}

/* Desctop */
@media screen and (max-width: 1800px) {
	body {
		font-size: 24px;
	}
}
/* Laptop */
@media screen and (max-width: 1400px) {
	body {
        padding: 0 0;
	}  
    .page{
        margin: 10px 50px;
    
    }
}
/* tablet */
@media screen and (max-width: 767px) {
	body {
		font-size: 12px;
        padding: 5px 5px;
	}
    h2{
        font-size: 18px;
    }
    .page{
        margin: 5px 10px;
    }
    blockquote{
        font-size: 16px;
    }
    blockquote>p{
        font-size: 16px;
    }
    .image1{
        height: 200px;
    }    
    p{
        font-size: 18px;
    }
}
@media screen and (max-width: 480px) {
	body {
		font-size: 8px;
        padding: 5px 5px;
	}
    h2{
        font-size: 18px;
        font-weight: bold;
    }
    .page{
        margin: 5px 10px;
    }
    blockquote{
        font-size: 12px;
    }
    blockquote>p{
        font-size: 12px;
    }
    .image1{
        float:none;
    }
    .image2{
        float:none;
    }
    p{
        font-size: 14px;
    }
}
