body{
    background-color: rgb(238, 238, 238);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
}
.card{
    border-radius: 4px;
    box-shadow: 5px 5px 5px 5px #aaaaaa;
    width: 350px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-size: 18px;
}