body{
    background-color: rgb(238, 238, 238) ;
}
.card{
    background-color: rgb(255, 255, 255);
    width: 400px;
    box-shadow: 1px 1px 10px black;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
a{
    background-color: rgb(0, 153, 0);
    color: whitesmoke;
    text-decoration: none;
    border-radius: 4px;
    padding: 6px;
    float: right;
}
.card-content{
    padding: 40px;
    padding-bottom: 40px;
}
img{
    width: 100%;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}
h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1em;
}