.pageHeader{
    padding-top: 80px;
    padding-bottom: 20px;
}
.bg {
    position: relative;
    background-image: url('../../../public/castle-5116436_960_720.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;

}
.colorWhite {
    color: white,
}
.colsm{
    text-align: center;
    color: white;
    font-size: 24px;
    padding: 10px;
}
.formStyle{
    margin-bottom: 20px;
}
.input{
    padding-bottom: 10px;
}
.fieldsetStyle{
    margin-bottom: 20px;
}
.footer{
    background-color: black;
    position: absolute;
    bottom: 0px;
}