@import url(https://use.fontawesome.com/releases/v5.15.4/css/all.css);
form{
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    position: relative;
}
.form-container{
    background-color: rgb(248, 248, 248);
    box-shadow: 1px 1px 1px #a0a0a0;
    border: 1px solid rgb(186, 185, 185);
    border-radius: 4px;
}
.sub-title{
    display: inline-block;
    position: absolute;
    top: -15px;
    left: -2px;
    width: 150px;
    height: 35px;
    border: 1px solid rgb(186, 185, 185);
    border-radius: 2px;
    box-shadow: 1px 1px 1px 0px #888888;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: unset;
   
}
.sub-title p{
    padding-left: 6px;
    padding-top: 6px;
    padding-bottom: 6px;
}
.username{
    margin-top: 30px;
    margin-left: 10px;
}
.password{
    margin-top: 10px;
    margin-left: 10px;
}
button{
    margin: 20px 10px;
    background-color: black;
    color: white;
    border-radius: 4px;
}
input{
    border-radius: 6px;
    border: 1px solid rgb(204, 203, 203);
    background-color: white;
}


