@font-face {
    font-family: "Raleway";
    src: url("fonts/Raleway-VariableFont_wght.ttf");
    font-family: "Great Vibes";
    src: url("fonts/GreatVibes-Regular.ttf");
  }
html{
    line-height: 1.5;
    font-size: 16px;
    font-family: Raleway, sans-serif ;
}
body h1{
    font-family: Great Vibes, cursive;
    line-height: 1.2;
    font-weight: bold;
}
body h2{
    font-family: Great Vibes, cursive;
    line-height: 1.2;
    font-weight: bold;
}