*{
    box-sizing: border-box;
}
.container{
    display: flex;
    max-width: 65vw;
    /* align-items: center; */
}
.notes{
    flex-basis: 25%;
    flex-direction: column;
}
.container section{
    display: flex;
    align-items: center;
}
.week{
    flex-basis: 75%; 
    flex-wrap: wrap;
}
.container span{
    padding: 10px;
    border: 1px solid black;
    text-align: center;
    /* display: block; */
}
.week .day{
    /* width: 20%; - Same*/ 
    flex: 1 1 20%;
 }
.week .day:nth-child(1){
   flex-basis: 100%;
}
.week span:nth-child(7){
    width: 100%;
}
.weekend-day{
    width: 50%;
}
.notes span{
    width: 100%;
    /* height: 100%; */
    flex: 1 1 50%;
}