@media screen and (max-width: 600px) {
    header nav{
        flex-direction: column;
        gap: 12px;
    }
    header nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 6px
    }
    .header-title{
        padding: unset;
        padding-top:20px auto;
    }
    .header-title h1{
        font-size: 38px;
    }
    .team-description-wrapper, .about-us{
        width: 100%;
    }
    .team-description-wrapper{
        width: 100;
    }
    .team-description ul{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap:30px;
    }
    .choose-us ul{
        flex-direction: column;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
    .blog-news ul{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px
    }
}