body{
    margin: 0px 30px;
}
html{
    font-family: Helvetica, sans-serif;
}
header{
    border-bottom: 2px solid;
}
header h1{
    display: inline-block;
    margin-bottom: 0px;
    margin-right: 50px;
}
nav{
    display: inline-block;
}
nav li{
    display: inline-block;
}
nav li a{
    text-decoration: none;
    color: green;
    margin-right: 15px;
}
